
@using TRAVEL.Models;
@*@model PagedList.IPagedList<Blog>
     @using PagedList.Mvc;*@
<div class="col-lg-4 col-md-12">
     <div class="sidebar">
          <!-- Search box start -->
          <div class="widget search-box">
               <h5 class="sidebar-title">Search Blog</h5>
               <div class="search-area">
                    <select class="selectpicker search-fields" name="location">
                         <option value="name">Name</option>
                         <option value="author">Author</option>
                         <option value="tag">Tag</option>
                         <option value="category">Category</option>
                    </select>
               </div>
               <form class="form-search" method="GET">
                    <input type="text" class="form-control" placeholder="Search">
                    @*<script>
                              var search_tag = $("#selectpicker search-fields").val();
                              switch (search_tag) {
                                   case "name":
                                        $("#form-control").val() = ViewBag.name;
                                        break;
                                   case "author":
                                        $("#form-control").val() = ViewBag.author;
                                        break;
                                   case "tag":
                                        $("#form-control").val() = ViewBag.tag;
                                        break;
                                   case "category":
                                        $("#form-control").val() = ViewBag.category;
                                        break;
                                   default:
                                        //$("#form-control").val() = ViewBag.name;
                                        break;
                              }
                         </script>*@
                    <button type="submit" id="search-submit" class="btn"><i class="fa fa-search"></i></button>
               </form>
          </div>
          <!-- Recent posts start -->
          <div class="widget recent-posts">
               @{ if (Session["mataikhoan"] == null)
                    {
     <h4 class="sidebar-title">Recently Posted Blogs</h4> foreach (Blog blg in ViewBag.recentPostedBlog)
     {
<div class="media mb-4">
     <a class="pr-3" href="/Blog/Blog_detail/@blg.Blog_ID">
          <img src="/assets/img/blog/@blg.Link_Img" alt="blog image">
     </a>
     <div class="media-body align-self-center">
          <h5>
               <a href="/Blog/Blog_detail/@blg.Blog_ID">@blg.Ten</a>
          </h5>
          <div class="listing-post-meta">
               @blg.NgayDang | <a href="#">Tour</a>
          </div>
     </div>
</div>}
}
else
{
<h4 class="sidebar-title">Recently Viewed Blogs</h4> foreach (RecentBlog blg in Session["recentlyViewedBlog"] as List<RecentBlog>)
{
<div class="media mb-4">
     <a class="pr-3" href="/Blog/Blog_detail/@blg.blogId">
          <img src="~/assets/img/blog/@blg.image" alt="sub-tours">
     </a>
     <div class="media-body align-self-center">
          <h5>
               <a href="/Blog/Blog_detail/@blg.blogId">@blg.ten</a>
          </h5>
          <div class="listing-post-meta">
               @blg.ngaydang | <a href="#">Tour</a>
          </div>
     </div>
</div>}

} }

          </div>
          <!-- Categories start -->
          <div class="widget categories">
               <h5 class="sidebar-title">Categories</h5>
               <ul>
                    <li><a href="/Blog/Blog_sidebar/">All<span>(12)</span></a></li>
                    @{ foreach (KeyValuePair<string, int> cate in ViewBag.categoryDict)
                         {
          <li><a href="/Blog/Blog_sidebar/category=@cate">@cate.Key<span>@cate.Value</span></a></li>
 } }
               </ul>
          </div>
          <!-- Social list start -->
          <div class="social-list widget clearfix">
               <h5 class="sidebar-title">Follow Us</h5>
               <ul>
                    <li><a href="https://www.facebook.com/outhereout" class="facebook-bg"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="https://www.facebook.com/outhereout" class="twitter-bg"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="https://www.facebook.com/outhereout" class="google-bg"><i class="fa fa-google-plus"></i></a></li>
                    <li><a href="https://www.facebook.com/outhereout" class="rss-bg"><i class="fa fa-rss"></i></a></li>
                    <li><a href="https://www.facebook.com/outhereout" class="linkedin-bg"><i class="fa fa-linkedin"></i></a></li>
               </ul>
          </div>
          <!-- Tags start -->
          <div class="widget tags clearfix">
               <h5 class="sidebar-title">Tags</h5>
               <ul class="tags">
                    @{ var tagList = ViewBag.tagList;
                         foreach (string tag in tagList)
                         {
          <li><a href="/Blog/TagFilter?tag=@tag">@tag</a></li> } }

               </ul>
          </div>
     </div>
</div>



