@using TRAVEL.Models
@model IEnumerable<Tour>


@foreach (var tour in Model)
{
    var night = tour.NumDay - 1;
    int i = 0;
    <div class="col-lg-6 col-md-6 col-sm-12" price="@tour.Gia">
        <div class="tour-item">
            <div class="item-thumbnail">
                <a href="#" class="item-img">
                    <div class="plan-price"><sup>$</sup>@tour.Gia<sub>/ night</sub></div>
                    <img src="~/assets/@tour.LinkImage" alt="tours" class="img-fluid">
                </a>
            </div>
            <div class="detail">
                <h1 class="title">
                    <a href="tours-detail.html">@tour.TenTour</a>
                </h1>
                <div class="location">
                    <a href="tours-detail.html">
                        <i class="flaticon-pin"></i>@tour.DiaDiem
                    </a>
                </div>
            </div>
            <div class="footer clearfix">
                <div class="pull-left">
                    <i class="flaticon-calendar"></i> @tour.NumDay Days /@night; Nights
                </div>
                <div class="pull-right">
                    <div class="ratings">
                        @for (int j = 0; j < ViewBag.Numstars[tour.MaTour]; j++)
                        {
                            <i class="fa fa-star"></i>
                            i++;
                        }
                        @while (i < 5)
                        {
                            <i class="fa fa-star-o"></i>
                            i++;
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
}
