@using TRAVEL.Models
@using PagedList.Mvc;
@{
    ViewBag.Title = "Tours_grid";
    ViewData["sub_link"] = "Tours";
    ViewData["Title"] = "Tours For You";
}
@using TRAVEL.Models
@model PagedList.IPagedList<Tour>

<link type="text/css" rel="stylesheet" href="~/Content/css/tour_qh.css" />

@Html.Partial("_banner")
<!-- Tour grid rightside start -->
<div class="tour-grid-rightside content-area-2">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-12">
                <div class="option-bar">
                    <div class="row clearfix">
                        <div class="col-xl-4 col-lg-5 col-md-5 col-sm-5">
                            <h4>
                                <span class="heading-icon">
                                    <i class="fa fa-caret-right icon-design"></i>
                                    <i id="head-icon" class="fa fa-th-large"></i>
                                </span>
                                @if (Model != null)
                                {
                                    <span class="heading">@Model.Count() Result Found</span>}
                                else
                                {
                                    <span class="heading">No Result Found</span>
                                }
                            </h4>
                        </div>
                        <div class="col-xl-8 col-lg-7 col-md-7 col-sm-7">
                            <div class="sorting-options clearfix">
                                <button id="view-list" class="change-view-btn"><i class="fa fa-th-list"></i></button>
                                <button id="view-grid" class="change-view-btn active-view-btn"><i class="fa fa-th-large"></i></button>
                            </div>
                            <div class="search-area">
                                <select id="sort" class="selectpicker search-fields" name="location">
                                    <option value="inc">Low to High</option>
                                    <option value="dec">High to Low</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="load-database" class="row">
                    @foreach (var tour in Model)
                    {
                        var night = tour.NumDay - 1;
                        int j = 0;
                        <div id="@tour.MaTour" class="col-lg-6 col-md-6 col-sm-12" price="@tour.Gia">
                            <div class="tour-item">
                                <div class="item-thumbnail">
                                    <a href="/Tours/Tours_detail/@tour.MaTour" class="item-img">
                                        <div class="plan-price"><sup>$</sup>@tour.Gia<sub>/ night</sub></div>
                                        <img src="~/assets/@tour.LinkImage" alt="tours" class="img-fluid">
                                    </a>
                                </div>
                                <div class="detail">
                                    <h1 class="title">
                                        <a href="/Tours/Tours_detail/@tour.MaTour">@tour.TenTour</a>
                                    </h1>
                                    <div class="location">
                                        <a href="/Tours/Tours_detail/@tour.MaTour">
                                            <i class="flaticon-pin"></i>@tour.DiaDiem
                                        </a>
                                    </div>
                                </div>
                                <div class="footer clearfix">
                                    <div class="pull-left">
                                        <i class="flaticon-calendar"></i> @tour.NumDay Days /@night; Nights
                                    </div>
                                    <div class="pull-right">
                                        <div class="ratings">
                                            @for (int i = 0; i < ViewBag.Numstars[tour.MaTour]; i++)
                                            {
                                                <i class="fa fa-star"></i>
                                                j++;
                                            }
                                            @while (j < 5)
                                            {
                                                <i class="fa fa-star-o"></i>
                                                j++;
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    }
                    <div id="tour-page" class="col-lg-12">
                        <div class="pagination-box">
                            <nav aria-label="Page navigation example">
                                <h4>Page @Model.PageNumber of @Model.PageCount</h4>
                                <br />
                                @Html.PagedListPager(Model, page => Url.Action("Tours_grid", new { page }))
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-12">
                <div class="sidebar">
                    <!-- Search area2 start -->
                    <div class="widget search-area2">
                        <h5 class="sidebar-title" style="color: rgb(255, 33, 79) ">Submit Form To Search Tours</h5>
                        <form class="inline-search-area" method="POST">
                            <div class="form-group search-col">
                                <input id="des-input" type="text" class="form-control" placeholder="Destination, City.....">
                                <i class="flaticon-search icon-append"></i>
                            </div>
                            <div class="form-group search-col">
                                <select id="tour-type" class="selectpicker search-fields btn-block form-control bdr" name="travel-type">
                                    <option value="">Travel Type</option>
                                    @foreach (TravelType type in (List<TravelType>)ViewBag.TravelTypes)
                                    {
                                        <option value="@type.MaTravelType">@type.TravelTypeName</option>
                                    }
                                </select>
                                <i class="flaticon-download icon-append"></i>
                            </div>
                            <div class="form-group clearfix">
                                <p>Distance</p>
                                <div class="range-slider">
                                    <div data-min="0" data-max="100" data-unit="Km" data-min-name="min_price" data-max-name="max_price" class="range-slider-ui ui-slider" aria-disabled="false"></div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                            <!-- Star Rating start -->
                            <div class="widget duration">
                                <h5 class="sidebar-title">Star Rating</h5>
                                <form class="inline-search-area" method="GET">
                                    <div class="form-group mb-0" id="star-div">
                                        <div class="form-check checkbox-theme">
                                            <input class="form-check-input" type="radio" name="star-rate" value="5" id="star1">
                                            <label class="form-check-label" for="star1">
                                                <span class="ratings">
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                </span>
                                            </label>
                                        </div>
                                        <div class="form-check checkbox-theme">
                                            <input class="form-check-input" type="radio" name="star-rate" value="4" id="star2">
                                            <label class="form-check-label" for="star2">
                                                <span class="ratings">
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star-o"></i>
                                                </span>
                                            </label>
                                        </div>
                                        <div class="form-check checkbox-theme">
                                            <input class="form-check-input" type="radio" name="star-rate" value="3" id="star3">
                                            <label class="form-check-label" for="star3">
                                                <span class="ratings">
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star-o"></i>
                                                    <i class="fa fa-star-o"></i>
                                                </span>
                                            </label>
                                        </div>
                                        <div class="form-check checkbox-theme">
                                            <input class="form-check-input" type="radio" name="star-rate" value="2" id="star4">
                                            <label class="form-check-label" for="star4">
                                                <span class="ratings">
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star-o"></i>
                                                    <i class="fa fa-star-o"></i>
                                                    <i class="fa fa-star-o"></i>
                                                </span>
                                            </label>
                                        </div>
                                        <div class="form-check checkbox-theme mb-0">
                                            <input class="form-check-input" type="radio" name="star-rate" value="1" id="star5">
                                            <label class="form-check-label" for="star5">
                                                <span class="ratings">
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star-o"></i>
                                                    <i class="fa fa-star-o"></i>
                                                    <i class="fa fa-star-o"></i>
                                                    <i class="fa fa-star-o"></i>
                                                </span>
                                            </label>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <!-- Duration start -->
                            <div class="widget duration">
                                <h5 class="sidebar-title">Duration</h5>
                                <form class="inline-search-area" method="GET">
                                    <div class="form-group mb-0">
                                        <div class="form-check checkbox-theme">
                                            <input class="form-check-input" type="radio" value="1" id="day-tour1" name="duration">
                                            <label class="form-check-label" for="day-tour1">
                                                1 Day Tour
                                            </label>
                                        </div>
                                        <div class="form-check checkbox-theme">
                                            <input class="form-check-input" type="radio" value="2" id="day-tour2" name="duration">
                                            <label class="form-check-label" for="day-tour2">
                                                2 Days /1 Night
                                            </label>
                                        </div>
                                        <div class="form-check checkbox-theme">
                                            <input class="form-check-input" type="radio" value="3" id="day-tour3" name="duration">
                                            <label class="form-check-label" for="day-tour3">
                                                3 Days /2 Night
                                            </label>
                                        </div>
                                        <div class="form-check checkbox-theme">
                                            <input class="form-check-input" type="radio" value="4" id="day-tour4" name="duration">
                                            <label class="form-check-label" for="day-tour4">
                                                4 Days /3 Night
                                            </label>
                                        </div>
                                        <div class="form-check checkbox-theme">
                                            <input class="form-check-input" type="radio" value="5" id="day-tour5" name="duration">
                                            <label class="form-check-label" for="day-tour5">
                                                5 Days /4 Night
                                            </label>
                                        </div>
                                        <div class="form-check checkbox-theme mb-0">
                                            <input class="form-check-input" type="radio" value="6" id="day-tour6" name="duration">
                                            <label class="form-check-label" for="day-tour5">
                                                More
                                            </label>
                                        </div>
                                    </div>
                                </form>
                            </div>

                            <div id="submit-search" class="form-group search-col mb-0">
                                <button class="btn-theme btn-md btn-block">Search</button>
                            </div>
                        </form>
                    </div>


                    <!-- Question start -->
                    <div class="widget question">
                        <h5 class="sidebar-title">Get a Question?</h5>
                        <ul class="contact-info">
                            <li>
                                <i class="flaticon-pin"></i>20/F Green Road, Dhanmondi
                            </li>
                            <li>
                                <i class="flaticon-mail"></i><a href="mailto:info@themevessel.com">info@themevessel.com</a>
                            </li>
                            <li>
                                <i class="flaticon-phone"></i><a href="tel:+0477-85x6-552">+0477 85x6 552</a>
                            </li>
                        </ul>
                        <div class="social-list clearfix">
                            <ul>
                                <li><a href="#" class="facebook-bg"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#" class="twitter-bg"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#" class="google-bg"><i class="fa fa-google-plus"></i></a></li>
                                <li><a href="#" class="rss-bg"><i class="fa fa-rss"></i></a></li>
                                <li><a href="#" class="linkedin-bg"><i class="fa fa-linkedin"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Tours grid rightside end -->
<!--Script ajax-->

<script type="text/javascript">

    $(document).ready(function () {
        $("#submit-search").click(function () {
            var destination = $('#des-input').val().toLowerCase();
            var matourtype = parseInt($('#tour-type').val());
            var favorite = parseInt($("input[name='star-rate']:checked").val());
            var duration = parseInt($("input[name='duration']:checked").val());
            var view = $('.active-view-btn').attr('id');
            if (!matourtype) matourtype = -1;
            if (!favorite) favorite = -1;
            if (!duration) duration = -1;
            if (favorite == -1 && duration == -1 && matourtype == -1 && destination == '') return false;
            $.ajax({
                type: "POST",
                url: '/Tours/TourSearch',
                dataType: 'html',
                data: JSON.stringify({ part: view, des: destination, tourtype: matourtype, star: favorite, dura: duration }),
                async: true,
                contentType: "application/json; charset=utf-8",
                success: function (response) {
                    $('#load-database').html(response);
                    $page.appendTo('#load-database');
                    window.scrollTo(0, 341.2363586425781);
                    let result_count = $('#load-database').children().length - 1;
                    $('span[class="heading"]').text(result_count + " Result Found");
                }
            });
        });
    });

    // switch display list or grid
    $page = $('#tour-page');
    $(function () {
        $(".change-view-btn").click(function () {
            if ($(this).hasClass("active-view-btn")) {
                return false;
            } else {
                $pageNumber = @Model.PageNumber;
                $('.search-area > a.selectBox > span.selectBox-label').text('Low to Hight');
                $('#sort').val('inc');
                $(".active-view-btn").removeClass("active-view-btn");
                $(this).addClass("active-view-btn");
                if ($(this).attr("id") == "view-grid") {
                    $("#head-icon").removeClass("fa fa-th-list");
                    $("#head-icon").addClass("fa fa-th-large");

                    $.ajax({
                        type: "POST",
                        url: '/Tours/AjaxView',
                        dataType: 'html',
                        data: JSON.stringify({type:1, page: $pageNumber}),
                        async: true,
                        contentType: "application/json; charset=utf-8",
                        success: function (response) {
                            $('#load-database').html(response);
                            $page.appendTo('#load-database');
                            let result_count = $('#load-database').children().length - 1;
                            $('span[class="heading"]').text(result_count + " Result Found");
                        }
                    });
                } else {
                    $("#head-icon").removeClass("fa fa-th-large");
                    $("#head-icon").addClass("fa fa-th-list");
                    $.ajax({
                        type: "POST",
                        url: '/Tours/AjaxView',
                        dataType: 'html',
                        data: JSON.stringify({ type: 2, page: $pageNumber }),
                        async: true,
                        contentType: "application/json; charset=utf-8",
                        success: function (response) {
                            $('#load-database').html(response);
                            $page.appendTo('#load-database');
                            let result_count = $('#load-database').children().length - 1;
                            $('span[class="heading"]').text(result_count + " Result Found");
                        }
                    });
                }
            }
        });
    });
    // sap xep
    $(function () {
        $("#sort").on('change', function (e) {

            if ($("#sort").val() == "inc") {
                if ($('.active-view-btn').attr('id') == 'view-grid') {
                    $('.col-lg-6.col-md-6.col-sm-12').sort(
                        function (a, b) { return ($(a).attr("price")) > ($(b).attr("price")) ? 1 : -1; }
                    ).prependTo('#load-database');
                    let result_count = $('#load-database').children().length - 1;
                    $('span[class="heading"]').text(result_count + " Result Found");
                } else {
                    $('.tour-item-3').sort(
                        function (a, b) { return ($(a).attr("price")) > ($(b).attr("price")) ? 1 : -1; }
                    ).prependTo('#load-database');
                    let result_count = $('#load-database').children().length - 1;
                    $('span[class="heading"]').text(result_count + " Result Found");
                }
            } else if ($("#sort").val() == "dec") {
                if ($('.active-view-btn').attr('id') == 'view-grid') {
                    $('.col-lg-6.col-md-6.col-sm-12').sort(
                        function (a, b) { return ($(a).attr("price")) < ($(b).attr("price")) ? 1 : -1; }
                    ).prependTo('#load-database');
                    let result_count = $('#load-database').children().length - 1;
                    $('span[class="heading"]').text(result_count + " Result Found");
                } else {
                    $('.tour-item-3').sort(
                        function (a, b) { return ($(a).attr("price")) < ($(b).attr("price")) ? 1 : -1; }
                    ).prependTo('#load-database');
                    let result_count = $('#load-database').children().length - 1;
                    $('span[class="heading"]').text(result_count + " Result Found");
                }
            }
        });
    });

</script>
