@model TRAVEL.Models.DiaDanh

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Destination</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            <p5> NAME</p5>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenDiaDanh)
        </dd>

        <dt>
            <p5> REGION</p5>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Vung.TenVung)
        </dd>

        <dt>
            <p5> IMAGE</p5>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Img)
        </dd>

        <dt>
            <p5>Description</p5>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="5">
                @Model.MoTa
            </textarea>
        </dt>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MaDiaDanh }) |
    @Html.ActionLink("Back to List", "Index")
</p>
