@using TRAVEL.Models;
@model PagedList.IPagedList<Blog>
@using PagedList.Mvc;
@{
     ViewBag.Title = "Blog List";
}
@Html.Partial("_banner")


<!-- Blog section start -->
<div class="blog-section content-area-2">
     <div class="container">
          <div class="row">
               <div class="col-lg-12 col-md-12">
                    <div class="option-bar">
                         <div class="row clearfix">
                              <div class="col-xl-4 col-lg-5 col-md-5 col-sm-5">
                                   <h4>
                                        <span class="heading-icon">
                                             <i class="fa fa-caret-right icon-design"></i>
                                             <i class="fa fa-th-large"></i>
                                        </span>
                                        @if (Model != null)
                                        {
                                             var count = Model.LongCount<Blog>();
                                             if (count > 1)
                                             {
                         <span class="heading">@count Results Found</span> }
                    else
                    {
          <span class="heading">@count Result Found</span>}
}
                                   </h4>
                              </div>
                              <div class="col-xl-8 col-lg-7 col-md-7 col-sm-7">
                                   <div class="sorting-options clearfix">
                                        <a href="#" class="change-view-btn active-view-btn"><i class="fa fa-th-list"></i></a>
                                        <a href="/Blog/Index" class="change-view-btn "><i class="fa fa-th-large"></i></a>
                                   </div>
                                   @*<div class="search-area">
                                        <select class="selectpicker search-fields" name="location">
                                             <option>Name</option>
                                             <option>Author</option>
                                             <option>Tag</option>
                                             <option>Category</option>
                                        </select>
                                   </div>*@

                                   <div class="search-area">
                                        <select class="selectpicker search-fields" name="location">
                                             <option>Default Sorting</option>
                                             <option>High to Low</option>
                                             <option>Low to High</option>
                                             <option>A - Z</option>
                                             <option>Z - A</option>
                                        </select>
                                   </div>
                                   <div class="search-area">
                                        <select class="selectpicker search-fields" name="location">
                                             <option>Name of Blog</option>
                                             <option>Published Date</option>
                                             <option>Comments</option>
                                             <option>Reactions</option>
                                        </select>

                                   </div>
                              </div>
                         </div>
                    </div>
               </div>

               <div class="col-lg-8 col-md-12">
                    @if (Model.Count != 0)
                    {
                         foreach (var item in Model)
                         {
                              <div class="blog-item-2">
                                   <div class="blog-photo clip-home">
                                        <img src="~/assets/img/blog/@item.Link_CoverImg" alt="blog" class="img-fluid">
                                        <div class="date-box clip-home">
                                             <span>@item.NgayDang.ToString().Split('/')[1]</span>
                                             @switch (@item.NgayDang.ToString().Split('/')[0])
                                             {
                                                  case "1":<span>Jan</span> break;
                                                  case "2": <span>Feb</span> break;
                                                  case "3": <span>Mar</span> break;
                                                  case "4": <span>Apr</span> break;
                                                  case "5": <span>May</span> break;
                                                  case "6": <span>Jun</span> break;
                                                  case "7": <span>Jul</span> break;
                                                  case "8": <span>Aug</span> break;
                                                  case "9": <span>Sep</span> break;
                                                  case "10": <span>Oct</span> break;
                                                  case "11": <span>Nov</span> break;
                                                  case "12": <span>Dec</span>break;
                                             }
                                        </div>
                                   </div>
                                   <div class="detail">
                                        <div class="post-meta">
                                             <span><a href="#"><i class="flaticon-user"></i>Amdin</a></span>
                                             <span><a href="#"><i class="flaticon-comment"></i>27</a></span>
                                             <span><a href="#"><i class="fa fa-heart-o"></i>27</a></span>
                                        </div>
                                        <h3>
                                             <a href="/Blog/Blog_detail/@item.Blog_ID">@item.Ten</a>
                                        </h3>
                                        <p>@item.MoTa</p>
                                   </div>
                              </div>
                         }

                    }
                    else
                    {
                         <script>
                              alert('No result found!')
                              var url = "/Blog/Blog_sidebar";
                              window.location.href = url;
                         </script>
                    }
                    @{
                         var num_page = @Model.PageCount;
                         //var num_page = 16;
                         var curr_page = @Model.PageNumber;

                    }
                    <div class="col-lg-12">
                         <div class="pagination-box">
                              <nav aria-label="Page navigation example">
                                   <ul class="pagination">
                                        Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
                                        @Html.PagedListPager(Model, page => Url.Action("Blog_sidebar", new { page }))
                                        @*@if (curr_page > 1)
                                                                           {
                                                                 <li class="page-item"><a class="page-link" href="/Blog/?page=@(curr_page-1)"><span aria-hidden="true">«</span></a></li>}
                                                                           <li class="page-item"><a class="page-link" onclick="true" href="/Blog/Blog_sidebar?page=1">1</a></li>
                                                                           @if (num_page > 1)
                                                                           {
                                                                                for (int i = 2; i <= 6; i++)
                                                                                {
                                                                 <li class="page-item"><a class="page-link" onclick="true" href="/Blog/Blog_sidebar?page=@i">@i</a></li>
                                   }
                                                       }
                                                                           @if (curr_page < num_page)
                                                                           {
                                                                 <li class="page-item"><a class="page-link" href="/Blog/Blog_sidebar?page=@(curr_page+1)"><span aria-hidden="true">»</span></a></li> }*@
                                   </ul>
                              </nav>
                         </div>
                    </div>

               </div>
               @Html.Partial("blog_rightside")
          </div>
     </div>
</div>
<!-- Blog section end -->

@*<script>
     const curr_location = location.href;
     var a_tag_list = document.getElementsByClassName("page-link");
     Array.from(a_tag_list).forEach((e) => {
          if (e.href === curr_location) {
               e.classList.add("active");
          }
     })

</script>*@
-